[Unit]
Description=Create Xauthority to forward screen in devcontainers

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "touch %t/.XAuthority"

[Install]
WantedBy=graphical-session.target
